.range {
  display: flex;
  align-items: center;
}
.range input {
  margin-left: 5px;
}

.select {
  display: flex;
}
.select input {
  margin-left: 5px;
}

.hide {
  display: flex;
  flex-direction: column;
}
.hide-result {
  font-weight: 800;
}
